body {
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}
html,
body,
#all {
/*   height: 100%;
  min-height: 100%; */
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.mainDIV{
  float:left;
}

.graphDIV{
  float:right;;
}

h1 {   font-family: 'Roboto Slab', serif;
  font-weight: 500;
  line-height: 1.1; font-size: 48;}
h2 { font-family: 'Roboto Slab', serif; font-weight: 500; font-size: 26; color: #f0505c;}
h3 { font-family: 'Roboto Slab', serif; font-weight: 400; font-size: 24;}
p { font-family: 'Lato', sans-serif; font-weight: 400; }
td { font-family: 'Lato', sans-serif; font-weight: normal; }
th { font-family: 'Lato', sans-serif; font-weight: bold; }
li { font-family: 'Lato', sans-serif; font-weight: 400; }

.answerbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.description{
  margin:50px 50px 50px 50px;
}

.experiment{
  margin-left:50px;
}
.experiment1DIV{
  margin: 50px 0px 50px 70px;
}
.experiment2DIV{
  margin: 50px 0px 50px 70px;
}
.svgContainer{
margin: 50px 0px 50px 70px;
}

.formula{
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  line-height: 1.1; font-size: 26;
  margin:30px 0 30px 0px;
}

.labelmin{
  float:left;
}

.labelmax{
  float: right;
}

.svg{
  margin-left: 30px;
}
#force-range {
   width: 3em;
   height: 1.6em;
   top: 50%;
   margin-top: -.8em;
   text-align: center;
   line-height: 1.6em;
 }

#mass-range {
   width: 3em;
   height: 1.6em;
   top: 50%;
   margin-top: -.8em;
   text-align: center;
   line-height: 1.6em;
 }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}
